@charset "utf-8";

$theme: (
        primary: maroon,
        secondary: blue,
        tertiary: green,
        foreground: #282230,
        background: #f1f1f1,
);

$themes: (
        light:(
                foreground: #282230,
                background: #f1f1f1,
                paper: #ededed
        ),
        dark:(
                foreground: #f1f1f1,
                background: #27323a,
                paper: #3a3b3b
        ),
);

@import "../node_modules/@medyll/cssfabric/src/cssfabric/modules/vars.scss";