button {
  position: relative;
  color: var(--theme-color-text);
  border: 1px solid var(--css-button-border-color,var(--theme-color-border));
  padding: var(--box-density-preset-small) 0.75rem;
  border-radius: var(--css-button-radius, 4px);
  background-color: rgba(255, 255, 255, 0.1);

  &:hover {
    background-color: var(--color-gray-800);
    backdrop-filter: blur(10px);
  }


  span {
    display: flex;
    grid-gap: 4px;
  }

  .icon {
  }

  .chip {
    position: absolute;
    height: 2px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
    background-color: var(--css-button-chip-color,var(--theme-color-primary));
    border-radius: 16px;
    bottom: 2px;
  }
}