.badge {
    position: absolute;
    border-radius: 50%;
    border: 1px solid red;
    display: grid;
    place-items: center;
    width: 16px;
    height: 16px;

    .hidden {
      transform: scale(0, 0);
    }
  }
