/* cssFabric vars yes */
:root {
  /* theme primary colors*/
  --theme-color-primary: rgb(32, 23, 0);
  --theme-color-primary-light: #6d4e00;
  --theme-color-primary-lighter: #b98500;
  --theme-color-primary-dark: black;
  --theme-color-primary-darker: black;
  --theme-color-primary-complement: #000920;
  --theme-color-primary-invert: #dfe8ff;
  --theme-color-primary-alpha-low: rgba(32, 23, 0, 0.8);
  --theme-color-primary-alpha: rgba(32, 23, 0, 0.3);
  --theme-color-primary-alpha-high: rgba(32, 23, 0, 0.1);
  /* theme secondary colors*/
  --theme-color-secondary: #D14B02;
  --theme-color-secondary-light: #fd7023;
  --theme-color-secondary-lighter: #fea16e;
  --theme-color-secondary-dark: #9e3902;
  --theme-color-secondary-darker: #6c2701;
  --theme-color-secondary-complement: #0288d1;
  --theme-color-secondary-invert: #2eb4fd;
  --theme-color-secondary-alpha-low: rgba(209, 75, 2, 0.8);
  --theme-color-secondary-alpha: rgba(209, 75, 2, 0.3);
  --theme-color-secondary-alpha-high: rgba(209, 75, 2, 0.1);
  /* theme tertiary colors*/
  --theme-color-tertiary: #88D102;
  --theme-color-tertiary-light: #b0fd23;
  --theme-color-tertiary-lighter: #cbfe6e;
  --theme-color-tertiary-dark: #679e02;
  --theme-color-tertiary-darker: #466c01;
  --theme-color-tertiary-complement: #4b02d1;
  --theme-color-tertiary-invert: #772efd;
  --theme-color-tertiary-alpha-low: rgba(136, 209, 2, 0.8);
  --theme-color-tertiary-alpha: rgba(136, 209, 2, 0.3);
  --theme-color-tertiary-alpha-high: rgba(136, 209, 2, 0.1);
  /* color-scheme primary secondary tertiary */
  --color-scheme-discrete: #ccc;
  --color-scheme-discrete-light: #f2f2f2;
  --color-scheme-discrete-dark: #b3b3b3;
  --color-scheme-discrete-alpha: rgba(204, 204, 204, 0.3);
  --color-scheme-discrete-alpha-low: rgba(204, 204, 204, 0.8);
  --color-scheme-discrete-alpha-high: rgba(204, 204, 204, 0.1);
  --color-scheme-success: green;
  --color-scheme-success-light: #00cd00;
  --color-scheme-success-dark: #004d00;
  --color-scheme-success-alpha: rgba(0, 128, 0, 0.3);
  --color-scheme-success-alpha-low: rgba(0, 128, 0, 0.8);
  --color-scheme-success-alpha-high: rgba(0, 128, 0, 0.1);
  --color-scheme-info: #ffdd57;
  --color-scheme-info-light: #ffeca4;
  --color-scheme-info-dark: #ffd324;
  --color-scheme-info-alpha: rgba(255, 221, 87, 0.3);
  --color-scheme-info-alpha-low: rgba(255, 221, 87, 0.8);
  --color-scheme-info-alpha-high: rgba(255, 221, 87, 0.1);
  --color-scheme-warning: hsl(48deg, 96%, 46%);
  --color-scheme-warning-light: #fbd53c;
  --color-scheme-warning-dark: #b49104;
  --color-scheme-warning-alpha: rgba(230, 185, 5, 0.3);
  --color-scheme-warning-alpha-low: rgba(230, 185, 5, 0.8);
  --color-scheme-warning-alpha-high: rgba(230, 185, 5, 0.1);
  --color-scheme-alert: hsl(27deg, 100%, 50%);
  --color-scheme-alert-light: #ff9d4d;
  --color-scheme-alert-dark: #cc5c00;
  --color-scheme-alert-alpha: rgba(255, 115, 0, 0.3);
  --color-scheme-alert-alpha-low: rgba(255, 115, 0, 0.8);
  --color-scheme-alert-alpha-high: rgba(255, 115, 0, 0.1);
  --color-scheme-error: red;
  --color-scheme-error-light: #ff4d4d;
  --color-scheme-error-dark: #cc0000;
  --color-scheme-error-alpha: rgba(255, 0, 0, 0.3);
  --color-scheme-error-alpha-low: rgba(255, 0, 0, 0.8);
  --color-scheme-error-alpha-high: rgba(255, 0, 0, 0.1);
  /* color-palette */
  --color-palette-yellow: #ffb900;
  --color-palette-yellow-alpha: rgba(255, 185, 0, 0.3);
  --color-palette-yellow-alpha-low: rgba(255, 185, 0, 0.8);
  --color-palette-yellow-alpha-high: rgba(255, 185, 0, 0.1);
  --color-palette-yellow-lighter: #ffe399;
  --color-palette-yellow-light: #ffce4d;
  --color-palette-yellow-dark: #cc9400;
  --color-palette-yellow-darker: #996f00;
  --color-palette-yellow-complement: #0046ff;
  --color-palette-yellow-complement-alpha: rgba(0, 70, 255, 0.3);
  --color-palette-yellow-complement-alpha-low: rgba(0, 70, 255, 0.8);
  --color-palette-yellow-complement-alpha-high: rgba(0, 70, 255, 0.1);
  --color-palette-yellow-invert: #0046ff;
  --color-palette-yellow-invert-alpha: rgba(0, 70, 255, 0.3);
  --color-palette-yellow-invert-alpha-low: rgba(0, 70, 255, 0.8);
  --color-palette-yellow-invert-alpha-high: rgba(0, 70, 255, 0.1);
  --color-palette-orange: #d83b01;
  --color-palette-orange-alpha: rgba(216, 59, 1, 0.3);
  --color-palette-orange-alpha-low: rgba(216, 59, 1, 0.8);
  --color-palette-orange-alpha-high: rgba(216, 59, 1, 0.1);
  --color-palette-orange-lighter: #fe9974;
  --color-palette-orange-light: #fe6127;
  --color-palette-orange-dark: #a52d01;
  --color-palette-orange-darker: #721f01;
  --color-palette-orange-complement: #019ed8;
  --color-palette-orange-complement-alpha: rgba(1, 158, 216, 0.3);
  --color-palette-orange-complement-alpha-low: rgba(1, 158, 216, 0.8);
  --color-palette-orange-complement-alpha-high: rgba(1, 158, 216, 0.1);
  --color-palette-orange-invert: #27c4fe;
  --color-palette-orange-invert-alpha: rgba(39, 196, 254, 0.3);
  --color-palette-orange-invert-alpha-low: rgba(39, 196, 254, 0.8);
  --color-palette-orange-invert-alpha-high: rgba(39, 196, 254, 0.1);
  --color-palette-red: #d13438;
  --color-palette-red-alpha: rgba(209, 52, 56, 0.3);
  --color-palette-red-alpha-low: rgba(209, 52, 56, 0.8);
  --color-palette-red-alpha-high: rgba(209, 52, 56, 0.1);
  --color-palette-red-lighter: #edb1b2;
  --color-palette-red-light: #df7275;
  --color-palette-red-dark: #ab272a;
  --color-palette-red-darker: #821d20;
  --color-palette-red-complement: #34d1cd;
  --color-palette-red-complement-alpha: rgba(52, 209, 205, 0.3);
  --color-palette-red-complement-alpha-low: rgba(52, 209, 205, 0.8);
  --color-palette-red-complement-alpha-high: rgba(52, 209, 205, 0.1);
  --color-palette-red-invert: #2ecbc7;
  --color-palette-red-invert-alpha: rgba(46, 203, 199, 0.3);
  --color-palette-red-invert-alpha-low: rgba(46, 203, 199, 0.8);
  --color-palette-red-invert-alpha-high: rgba(46, 203, 199, 0.1);
  --color-palette-magenta: #b4009e;
  --color-palette-magenta-alpha: rgba(180, 0, 158, 0.3);
  --color-palette-magenta-alpha-low: rgba(180, 0, 158, 0.8);
  --color-palette-magenta-alpha-high: rgba(180, 0, 158, 0.1);
  --color-palette-magenta-lighter: #ff4ee9;
  --color-palette-magenta-light: #ff02e0;
  --color-palette-magenta-dark: #810071;
  --color-palette-magenta-darker: #4e0044;
  --color-palette-magenta-complement: #00b416;
  --color-palette-magenta-complement-alpha: rgba(0, 180, 22, 0.3);
  --color-palette-magenta-complement-alpha-low: rgba(0, 180, 22, 0.8);
  --color-palette-magenta-complement-alpha-high: rgba(0, 180, 22, 0.1);
  --color-palette-magenta-invert: #4bff61;
  --color-palette-magenta-invert-alpha: rgba(75, 255, 97, 0.3);
  --color-palette-magenta-invert-alpha-low: rgba(75, 255, 97, 0.8);
  --color-palette-magenta-invert-alpha-high: rgba(75, 255, 97, 0.1);
  --color-palette-purple: #5c2d91;
  --color-palette-purple-alpha: rgba(92, 45, 145, 0.3);
  --color-palette-purple-alpha-low: rgba(92, 45, 145, 0.8);
  --color-palette-purple-alpha-high: rgba(92, 45, 145, 0.1);
  --color-palette-purple-lighter: #a980d7;
  --color-palette-purple-light: #8145c5;
  --color-palette-purple-dark: #43216a;
  --color-palette-purple-darker: #2b1543;
  --color-palette-purple-complement: #62912d;
  --color-palette-purple-complement-alpha: rgba(98, 145, 45, 0.3);
  --color-palette-purple-complement-alpha-low: rgba(98, 145, 45, 0.8);
  --color-palette-purple-complement-alpha-high: rgba(98, 145, 45, 0.1);
  --color-palette-purple-invert: #a3d26e;
  --color-palette-purple-invert-alpha: rgba(163, 210, 110, 0.3);
  --color-palette-purple-invert-alpha-low: rgba(163, 210, 110, 0.8);
  --color-palette-purple-invert-alpha-high: rgba(163, 210, 110, 0.1);
  --color-palette-green: #107c10;
  --color-palette-green-alpha: rgba(16, 124, 16, 0.3);
  --color-palette-green-alpha-low: rgba(16, 124, 16, 0.8);
  --color-palette-green-alpha-high: rgba(16, 124, 16, 0.1);
  --color-palette-green-lighter: #3fe63f;
  --color-palette-green-light: #19c019;
  --color-palette-green-dark: #0a4f0a;
  --color-palette-green-darker: #042204;
  --color-palette-green-complement: #7c107c;
  --color-palette-green-complement-alpha: rgba(124, 16, 124, 0.3);
  --color-palette-green-complement-alpha-low: rgba(124, 16, 124, 0.8);
  --color-palette-green-complement-alpha-high: rgba(124, 16, 124, 0.1);
  --color-palette-green-invert: #ef83ef;
  --color-palette-green-invert-alpha: rgba(239, 131, 239, 0.3);
  --color-palette-green-invert-alpha-low: rgba(239, 131, 239, 0.8);
  --color-palette-green-invert-alpha-high: rgba(239, 131, 239, 0.1);
  --color-palette-teal: #008272;
  --color-palette-teal-alpha: rgba(0, 130, 114, 0.3);
  --color-palette-teal-alpha-low: rgba(0, 130, 114, 0.8);
  --color-palette-teal-alpha-high: rgba(0, 130, 114, 0.1);
  --color-palette-teal-lighter: #1cffe3;
  --color-palette-teal-light: #00cfb5;
  --color-palette-teal-dark: #004f45;
  --color-palette-teal-darker: #001c19;
  --color-palette-teal-complement: #820010;
  --color-palette-teal-complement-alpha: rgba(130, 0, 16, 0.3);
  --color-palette-teal-complement-alpha-low: rgba(130, 0, 16, 0.8);
  --color-palette-teal-complement-alpha-high: rgba(130, 0, 16, 0.1);
  --color-palette-teal-invert: #ff7d8d;
  --color-palette-teal-invert-alpha: rgba(255, 125, 141, 0.3);
  --color-palette-teal-invert-alpha-low: rgba(255, 125, 141, 0.8);
  --color-palette-teal-invert-alpha-high: rgba(255, 125, 141, 0.1);
  --color-palette-blue: #0078d4;
  --color-palette-blue-alpha: rgba(0, 120, 212, 0.3);
  --color-palette-blue-alpha-low: rgba(0, 120, 212, 0.8);
  --color-palette-blue-alpha-high: rgba(0, 120, 212, 0.1);
  --color-palette-blue-lighter: #6ec0ff;
  --color-palette-blue-light: #229fff;
  --color-palette-blue-dark: #005ba1;
  --color-palette-blue-darker: #003e6e;
  --color-palette-blue-complement: #d45c00;
  --color-palette-blue-complement-alpha: rgba(212, 92, 0, 0.3);
  --color-palette-blue-complement-alpha-low: rgba(212, 92, 0, 0.8);
  --color-palette-blue-complement-alpha-high: rgba(212, 92, 0, 0.1);
  --color-palette-blue-invert: #ff872b;
  --color-palette-blue-invert-alpha: rgba(255, 135, 43, 0.3);
  --color-palette-blue-invert-alpha-low: rgba(255, 135, 43, 0.8);
  --color-palette-blue-invert-alpha-high: rgba(255, 135, 43, 0.1);
  --color-palette-dark: #323232;
  --color-palette-dark-alpha: rgba(50, 50, 50, 0.3);
  --color-palette-dark-alpha-low: rgba(50, 50, 50, 0.8);
  --color-palette-dark-alpha-high: rgba(50, 50, 50, 0.1);
  --color-palette-dark-lighter: #7f7f7f;
  --color-palette-dark-light: #585858;
  --color-palette-dark-dark: #191919;
  --color-palette-dark-darker: black;
  --color-palette-dark-complement: #323232;
  --color-palette-dark-complement-alpha: rgba(50, 50, 50, 0.3);
  --color-palette-dark-complement-alpha-low: rgba(50, 50, 50, 0.8);
  --color-palette-dark-complement-alpha-high: rgba(50, 50, 50, 0.1);
  --color-palette-dark-invert: #cdcdcd;
  --color-palette-dark-invert-alpha: rgba(205, 205, 205, 0.3);
  --color-palette-dark-invert-alpha-low: rgba(205, 205, 205, 0.8);
  --color-palette-dark-invert-alpha-high: rgba(205, 205, 205, 0.1);
  /* grays */
  --color-gray-100: #f4f4f4;
  --color-gray-100-alpha: rgba(244, 244, 244, 0.3);
  --color-gray-100-alpha-low: rgba(244, 244, 244, 0.8);
  --color-gray-100-alpha-high: rgba(244, 244, 244, 0.1);
  --color-gray-200: #e2e2e2;
  --color-gray-200-alpha: rgba(226, 226, 226, 0.3);
  --color-gray-200-alpha-low: rgba(226, 226, 226, 0.8);
  --color-gray-200-alpha-high: rgba(226, 226, 226, 0.1);
  --color-gray-300: #d0d0d0;
  --color-gray-300-alpha: rgba(208, 208, 208, 0.3);
  --color-gray-300-alpha-low: rgba(208, 208, 208, 0.8);
  --color-gray-300-alpha-high: rgba(208, 208, 208, 0.1);
  --color-gray-400: #bdbdbd;
  --color-gray-400-alpha: rgba(189, 189, 189, 0.3);
  --color-gray-400-alpha-low: rgba(189, 189, 189, 0.8);
  --color-gray-400-alpha-high: rgba(189, 189, 189, 0.1);
  --color-gray-500: #ababab;
  --color-gray-500-alpha: rgba(171, 171, 171, 0.3);
  --color-gray-500-alpha-low: rgba(171, 171, 171, 0.8);
  --color-gray-500-alpha-high: rgba(171, 171, 171, 0.1);
  --color-gray-600: #999999;
  --color-gray-600-alpha: rgba(153, 153, 153, 0.3);
  --color-gray-600-alpha-low: rgba(153, 153, 153, 0.8);
  --color-gray-600-alpha-high: rgba(153, 153, 153, 0.1);
  /* boxes */
  --box-density-0: 0rem;
  --box-density-1: 0.5rem;
  --box-density-2: 1rem;
  --box-density-3: 1.5rem;
  --box-density-4: 2rem;
  --box-density-5: 2.5rem;
  --box-density-6: 3rem;
  --box-density-7: 3.5rem;
  --box-density-8: 4rem;
  --box-density-9: 4.5rem;
  --box-density-10: 5rem;
  --box-density-11: 5.5rem;
  --box-density-12: 6rem;
  --box-density-preset-tiny: 0.25rem;
  --box-density-preset-small: 0.5rem;
  --box-density-preset-medium: 1.5rem;
  --box-density-preset-large: 2rem;
  /* text */
  /*Hs*/
  --font-size-h1: 3.1rem;
  --font-size-h2: 2.68rem;
  --font-size-h3: 2.26rem;
  --font-size-h4: 1.84rem;
  --font-size-h5: 1.42rem;
  --font-size-h6: 1rem;
  /*weight*/
  --font-weight-50: 50;
  --font-weight-100: 100;
  --font-weight-300: 400;
  --font-weight-500: 500;
  --font-weight-900: 900;
  --font-weight-light: lighter;
  --font-weight-cap: normal;
  --font-weight-bold: bold;
  --font-weight-bolder: bolder;
  /*text shadows color_schemes*/
  --text-shadow-discrete: 0 0 0.125em #ccc;
  --text-shadow-success: 0 0 0.125em green;
  --text-shadow-info: 0 0 0.125em #ffdd57;
  --text-shadow-warning: 0 0 0.125em hsl(48deg, 96%, 46%);
  --text-shadow-alert: 0 0 0.125em hsl(27deg, 100%, 50%);
  --text-shadow-error: 0 0 0.125em red;
  /*text-shadows color_palette */
  --text-shadow-yellow: 0 0 0.125em #ffb900;
  --text-shadow-orange: 0 0 0.125em #d83b01;
  --text-shadow-red: 0 0 0.125em #d13438;
  --text-shadow-magenta: 0 0 0.125em #b4009e;
  --text-shadow-purple: 0 0 0.125em #5c2d91;
  --text-shadow-green: 0 0 0.125em #107c10;
  --text-shadow-teal: 0 0 0.125em #008272;
  --text-shadow-blue: 0 0 0.125em #0078d4;
  --text-shadow-dark: 0 0 0.125em #323232;
  /* shadows */
  --box-shad-1: 0 0.8333333333px 1.724137931px 0 rgba(0, 0, 0, 0.15), 0 0.1526717557px 0.4651162791px 0 rgba(0, 0, 0, 0.1);
  --box-shad-2: 0 1.6666666667px 3.4482758621px 0 rgba(0, 0, 0, 0.15), 0 0.3053435115px 0.9302325581px 0 rgba(0, 0, 0, 0.1);
  --box-shad-3: 0 2.5px 5.1724137931px 0 rgba(0, 0, 0, 0.15), 0 0.4580152672px 1.3953488372px 0 rgba(0, 0, 0, 0.1);
  --box-shad-4: 0 3.3333333333px 6.8965517241px 0 rgba(0, 0, 0, 0.15), 0 0.6106870229px 1.8604651163px 0 rgba(0, 0, 0, 0.1);
  --box-shad-5: 0 4.1666666667px 8.6206896552px 0 rgba(0, 0, 0, 0.15), 0 0.7633587786px 2.3255813953px 0 rgba(0, 0, 0, 0.1);
  /* themes */
  /* theme base colors*/
  --theme-color-text: #282230;
  --theme-color-foreground: #282230;
  --theme-color-foreground-alpha: rgba(40, 34, 48, 0.3);
  --theme-color-foreground-alpha-low: rgba(40, 34, 48, 0.8);
  --theme-color-foreground-alpha-high: rgba(40, 34, 48, 0.1);
  --theme-color-background: #f1f1f1;
  --theme-color-background-alpha: rgba(40, 34, 48, 0.3);
  --theme-color-background-alpha-low: rgba(40, 34, 48, 0.8);
  --theme-color-background-alpha-high: rgba(40, 34, 48, 0.1);
  --theme-color-paper: #f1f1f1;
  --theme-color-paper-alpha: rgba(237, 237, 237, 0.3);
  --theme-color-paper-alpha-low: rgba(237, 237, 237, 0.8);
  --theme-color-paper-alpha-high: rgba(237, 237, 237, 0.1);
  --theme-color-border: rgba(40, 34, 48, 0.2);
}
:root [density=small] {
  --box-density-0: 0rem;
  --box-density-1: 0.25rem;
  --box-density-2: 0.5rem;
  --box-density-3: 0.75rem;
  --box-density-4: 1rem;
  --box-density-5: 1.25rem;
  --box-density-6: 1.5rem;
  --box-density-7: 1.75rem;
  --box-density-8: 2rem;
  --box-density-9: 2.25rem;
  --box-density-10: 2.5rem;
  --box-density-11: 2.75rem;
  --box-density-12: 3rem;
  --box-density-preset-tiny: 0.125rem;
  --box-density-preset-small: 0.25rem;
  --box-density-preset-medium: 0.75rem;
  --box-density-preset-large: 1rem;
}
:root [density=default] {
  --box-density-0: 0rem;
  --box-density-1: 0.5rem;
  --box-density-2: 1rem;
  --box-density-3: 1.5rem;
  --box-density-4: 2rem;
  --box-density-5: 2.5rem;
  --box-density-6: 3rem;
  --box-density-7: 3.5rem;
  --box-density-8: 4rem;
  --box-density-9: 4.5rem;
  --box-density-10: 5rem;
  --box-density-11: 5.5rem;
  --box-density-12: 6rem;
  --box-density-preset-tiny: 0.25rem;
  --box-density-preset-small: 0.5rem;
  --box-density-preset-medium: 1.5rem;
  --box-density-preset-large: 2rem;
}
:root [density=large] {
  --box-density-0: 0rem;
  --box-density-1: 0.875rem;
  --box-density-2: 1.75rem;
  --box-density-3: 2.625rem;
  --box-density-4: 3.5rem;
  --box-density-5: 4.375rem;
  --box-density-6: 5.25rem;
  --box-density-7: 6.125rem;
  --box-density-8: 7rem;
  --box-density-9: 7.875rem;
  --box-density-10: 8.75rem;
  --box-density-11: 9.625rem;
  --box-density-12: 10.5rem;
  --box-density-preset-tiny: 0.4375rem;
  --box-density-preset-small: 0.875rem;
  --box-density-preset-medium: 2.625rem;
  --box-density-preset-large: 3.5rem;
}
:root, :root [data-theme=light] {
  /* theme base colors*/
  --theme-color-text: #282230;
  --theme-color-foreground: #282230;
  --theme-color-foreground-alpha: rgba(40, 34, 48, 0.3);
  --theme-color-foreground-alpha-low: rgba(40, 34, 48, 0.8);
  --theme-color-foreground-alpha-high: rgba(40, 34, 48, 0.1);
  --theme-color-background: #f1f1f1;
  --theme-color-background-alpha: rgba(40, 34, 48, 0.3);
  --theme-color-background-alpha-low: rgba(40, 34, 48, 0.8);
  --theme-color-background-alpha-high: rgba(40, 34, 48, 0.1);
  --theme-color-paper: #f1f1f1;
  --theme-color-paper-alpha: rgba(237, 237, 237, 0.3);
  --theme-color-paper-alpha-low: rgba(237, 237, 237, 0.8);
  --theme-color-paper-alpha-high: rgba(237, 237, 237, 0.1);
  --theme-color-border: rgba(40, 34, 48, 0.2);
  --theme-color-overlay: rgba(208, 191, 151, 0.2);
}
:root [data-theme=dark] {
  /* theme base colors*/
  --theme-color-text: #27323a;
  --theme-color-foreground: #27323a;
  --theme-color-foreground-alpha: rgba(39, 50, 58, 0.3);
  --theme-color-foreground-alpha-low: rgba(39, 50, 58, 0.8);
  --theme-color-foreground-alpha-high: rgba(39, 50, 58, 0.1);
  --theme-color-background: #f1f1f1;
  --theme-color-background-alpha: rgba(39, 50, 58, 0.3);
  --theme-color-background-alpha-low: rgba(39, 50, 58, 0.8);
  --theme-color-background-alpha-high: rgba(39, 50, 58, 0.1);
  --theme-color-paper: #f1f1f1;
  --theme-color-paper-alpha: rgba(58, 59, 59, 0.3);
  --theme-color-paper-alpha-low: rgba(58, 59, 59, 0.8);
  --theme-color-paper-alpha-high: rgba(58, 59, 59, 0.1);
  --theme-color-border: rgba(241, 241, 241, 0.3);
  --theme-color-overlay: rgba(255, 255, 255, 0.1);
}

/*# sourceMappingURL=cssfabric.vars.css.map */
