ul {
  display:flex;
  flex-direction:column;
}

ul:focus {
  outline: 0;
  outline-offset: -4px;
}

li.listItemTitle,
li.listItem {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 4px; 
  max-width: 100%;
  // content-visibility: hidden;

  .listItemContent {
    flex: 1;
    padding: 0 0.5rem;
    min-width: auto;
    overflow: hidden;

    [slot="primary"] {
      text-overflow: ellipsis;
      display: block;
      width: 100%;
      overflow: hidden;
    }

    [slot="secondary"] {
      opacity: 0.8;
      text-overflow: ellipsis;
      display: block;
      width: 100%;
      overflow: hidden;
    }
  }

  .listItemAction {
    padding: 0 0.5rem;
  }

  .listItemIcon {
    text-align: center;
    width: 2rem;
    min-width: 2rem;
    overflow: hidden;
    opacity: 0.8;
  }

  &.density-tight {
    padding: 0.5rem 0;
  }

  &.density-default {
    padding: 1rem 0;
  }

  &.density-kind {
    padding: 1.5rem 0;
  }
}


li.listItemTitle{
  position: sticky;
  margin-top: 1px!important;
  top:1px;
  background-color: var(--theme-color-background-alpha-low);
  backdrop-filter: blur(1px);
  z-index:1;
  // box-shadow: var(--box-shad-3);
}

li.listItem {
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &.isActive {
    background-color: var(--slotui-listitem-active-background,var(--theme-color-primary-alpha-high,black)) ;  //rgba(255, 255, 255, 0.3);
    box-shadow: var(--slotui-listitem-active-boxshadow, var(shad-3));

    .listItemChip {
      position: absolute;
      height: 50%;
      width: 3px;
      background-color: var(--theme-color-primary);
      border-radius: 8px;
      left: -1px;
    }
  }
}
