@charset "utf-8";

@charset "utf-8";

$theme-color-primary: rgb(56, 21, 0);
$theme-color-secondary: #330c2f;
$theme-color-tertiary: #cacaaa;

$theme-dark-color-foreground: #f1f1f1;
$theme-dark-color-background: #27323a;
$theme-dark-color-paper: #3a3b3b;

// override cssFabric config
// delivers new css_vars
@import "../node_modules/@medyll/cssfabric/src/cssfabric/modules/vars.scss";
