html {
    font-size: 12px;
    box-sizing: border-box;
    font-family: "Rubik";
    line-height: 1.45;
    height: 100%;
}

body {
    height: 100%;
    max-height: 100%;
    color: var(--theme-color-foreground);
    box-sizing: border-box;
    // background-color: var(--theme-color-background);
    background: var(--theme-color-background);
    background: linear-gradient(180deg, var(--theme-color-background) 0%, var(--theme-color-paper) 100%);
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    &:visited {
        color: inherit;
    }
}
