/* & li.menu-item{
    dsp: none;
}
&-drop{
    dsp: none;
    & .menu-open{
        dsp: none;
        & li.menu-item, > li{
            dsp: none;
        }
    }
    & .menu-close{
        dsp: none;
        & li.menu-item, > li{
            dsp: none;
        }
    }
}*/
@media only screen and (max-width: 0rem) {
  ul.menu-xxxl {
    list-style: none;
    list-style-type: none;
  }
  ul.menu-xxxl-v {
    padding: 0;
    margin: 0;
    line-height: 1rem;
  }
  ul.menu-xxxl-v li.menu-item,
ul.menu-xxxl-v li {
    display: block;
    margin: 0 1rem;
    width: auto;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 1rem;
  }
  ul.menu-xxxl-v li.menu-item:hover,
ul.menu-xxxl-v li:hover {
    border-radius: 4px;
    background-color: #ededed;
  }
  ul.menu-xxxl-v li.menu-item.active,
ul.menu-xxxl-v li.active {
    border-radius: 4px;
    background-color: #ededed;
    font-weight: bold;
  }
  ul.menu-xxxl-v li {
    list-style: none;
  }
  ul.menu-xxxl-h {
    padding: 0;
    margin: 0;
    line-height: 1rem;
  }
  ul.menu-xxxl-h li.menu-item,
ul.menu-xxxl-h li {
    display: block;
    margin: 0 1rem;
    width: auto;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 1rem;
  }
  ul.menu-xxxl-h li.menu-item:hover,
ul.menu-xxxl-h li:hover {
    border-radius: 4px;
    background-color: #ededed;
  }
  ul.menu-xxxl-h li.menu-item.active,
ul.menu-xxxl-h li.active {
    border-radius: 4px;
    background-color: #ededed;
    font-weight: bold;
  }
  ul.menu-xxxl-h li {
    list-style: none;
  }
  ul.menu-xxxl-v li.menu-item.active,
ul.menu-xxxl-v li.active {
    font-weight: bold;
    margin-left: 1rem;
  }
  ul.menu-xxxl-h {
    max-width: 100%;
    display: inline-flex;
    padding: 0 0;
    position: relative;
    border-bottom: 1px solid #ededed;
    overflow-X: auto;
    overflow-Y: hidden;
  }
  ul.menu-xxxl-h li.menu-item,
ul.menu-xxxl-h li {
    margin: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 120rem) {
  ul.menu-xxl {
    list-style: none;
    list-style-type: none;
  }
  ul.menu-xxl-v {
    padding: 0;
    margin: 0;
    line-height: 1rem;
  }
  ul.menu-xxl-v li.menu-item,
ul.menu-xxl-v li {
    display: block;
    margin: 0 1rem;
    width: auto;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 1rem;
  }
  ul.menu-xxl-v li.menu-item:hover,
ul.menu-xxl-v li:hover {
    border-radius: 4px;
    background-color: #ededed;
  }
  ul.menu-xxl-v li.menu-item.active,
ul.menu-xxl-v li.active {
    border-radius: 4px;
    background-color: #ededed;
    font-weight: bold;
  }
  ul.menu-xxl-v li {
    list-style: none;
  }
  ul.menu-xxl-h {
    padding: 0;
    margin: 0;
    line-height: 1rem;
  }
  ul.menu-xxl-h li.menu-item,
ul.menu-xxl-h li {
    display: block;
    margin: 0 1rem;
    width: auto;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 1rem;
  }
  ul.menu-xxl-h li.menu-item:hover,
ul.menu-xxl-h li:hover {
    border-radius: 4px;
    background-color: #ededed;
  }
  ul.menu-xxl-h li.menu-item.active,
ul.menu-xxl-h li.active {
    border-radius: 4px;
    background-color: #ededed;
    font-weight: bold;
  }
  ul.menu-xxl-h li {
    list-style: none;
  }
  ul.menu-xxl-v li.menu-item.active,
ul.menu-xxl-v li.active {
    font-weight: bold;
    margin-left: 1rem;
  }
  ul.menu-xxl-h {
    max-width: 100%;
    display: inline-flex;
    padding: 0 0;
    position: relative;
    border-bottom: 1px solid #ededed;
    overflow-X: auto;
    overflow-Y: hidden;
  }
  ul.menu-xxl-h li.menu-item,
ul.menu-xxl-h li {
    margin: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 90rem) {
  ul.menu-xl {
    list-style: none;
    list-style-type: none;
  }
  ul.menu-xl-v {
    padding: 0;
    margin: 0;
    line-height: 1rem;
  }
  ul.menu-xl-v li.menu-item,
ul.menu-xl-v li {
    display: block;
    margin: 0 1rem;
    width: auto;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 1rem;
  }
  ul.menu-xl-v li.menu-item:hover,
ul.menu-xl-v li:hover {
    border-radius: 4px;
    background-color: #ededed;
  }
  ul.menu-xl-v li.menu-item.active,
ul.menu-xl-v li.active {
    border-radius: 4px;
    background-color: #ededed;
    font-weight: bold;
  }
  ul.menu-xl-v li {
    list-style: none;
  }
  ul.menu-xl-h {
    padding: 0;
    margin: 0;
    line-height: 1rem;
  }
  ul.menu-xl-h li.menu-item,
ul.menu-xl-h li {
    display: block;
    margin: 0 1rem;
    width: auto;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 1rem;
  }
  ul.menu-xl-h li.menu-item:hover,
ul.menu-xl-h li:hover {
    border-radius: 4px;
    background-color: #ededed;
  }
  ul.menu-xl-h li.menu-item.active,
ul.menu-xl-h li.active {
    border-radius: 4px;
    background-color: #ededed;
    font-weight: bold;
  }
  ul.menu-xl-h li {
    list-style: none;
  }
  ul.menu-xl-v li.menu-item.active,
ul.menu-xl-v li.active {
    font-weight: bold;
    margin-left: 1rem;
  }
  ul.menu-xl-h {
    max-width: 100%;
    display: inline-flex;
    padding: 0 0;
    position: relative;
    border-bottom: 1px solid #ededed;
    overflow-X: auto;
    overflow-Y: hidden;
  }
  ul.menu-xl-h li.menu-item,
ul.menu-xl-h li {
    margin: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 64rem) {
  ul.menu-lg {
    list-style: none;
    list-style-type: none;
  }
  ul.menu-lg-v {
    padding: 0;
    margin: 0;
    line-height: 1rem;
  }
  ul.menu-lg-v li.menu-item,
ul.menu-lg-v li {
    display: block;
    margin: 0 1rem;
    width: auto;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 1rem;
  }
  ul.menu-lg-v li.menu-item:hover,
ul.menu-lg-v li:hover {
    border-radius: 4px;
    background-color: #ededed;
  }
  ul.menu-lg-v li.menu-item.active,
ul.menu-lg-v li.active {
    border-radius: 4px;
    background-color: #ededed;
    font-weight: bold;
  }
  ul.menu-lg-v li {
    list-style: none;
  }
  ul.menu-lg-h {
    padding: 0;
    margin: 0;
    line-height: 1rem;
  }
  ul.menu-lg-h li.menu-item,
ul.menu-lg-h li {
    display: block;
    margin: 0 1rem;
    width: auto;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 1rem;
  }
  ul.menu-lg-h li.menu-item:hover,
ul.menu-lg-h li:hover {
    border-radius: 4px;
    background-color: #ededed;
  }
  ul.menu-lg-h li.menu-item.active,
ul.menu-lg-h li.active {
    border-radius: 4px;
    background-color: #ededed;
    font-weight: bold;
  }
  ul.menu-lg-h li {
    list-style: none;
  }
  ul.menu-lg-v li.menu-item.active,
ul.menu-lg-v li.active {
    font-weight: bold;
    margin-left: 1rem;
  }
  ul.menu-lg-h {
    max-width: 100%;
    display: inline-flex;
    padding: 0 0;
    position: relative;
    border-bottom: 1px solid #ededed;
    overflow-X: auto;
    overflow-Y: hidden;
  }
  ul.menu-lg-h li.menu-item,
ul.menu-lg-h li {
    margin: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 48rem) {
  ul.menu-md {
    list-style: none;
    list-style-type: none;
  }
  ul.menu-md-v {
    padding: 0;
    margin: 0;
    line-height: 1rem;
  }
  ul.menu-md-v li.menu-item,
ul.menu-md-v li {
    display: block;
    margin: 0 1rem;
    width: auto;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 1rem;
  }
  ul.menu-md-v li.menu-item:hover,
ul.menu-md-v li:hover {
    border-radius: 4px;
    background-color: #ededed;
  }
  ul.menu-md-v li.menu-item.active,
ul.menu-md-v li.active {
    border-radius: 4px;
    background-color: #ededed;
    font-weight: bold;
  }
  ul.menu-md-v li {
    list-style: none;
  }
  ul.menu-md-h {
    padding: 0;
    margin: 0;
    line-height: 1rem;
  }
  ul.menu-md-h li.menu-item,
ul.menu-md-h li {
    display: block;
    margin: 0 1rem;
    width: auto;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 1rem;
  }
  ul.menu-md-h li.menu-item:hover,
ul.menu-md-h li:hover {
    border-radius: 4px;
    background-color: #ededed;
  }
  ul.menu-md-h li.menu-item.active,
ul.menu-md-h li.active {
    border-radius: 4px;
    background-color: #ededed;
    font-weight: bold;
  }
  ul.menu-md-h li {
    list-style: none;
  }
  ul.menu-md-v li.menu-item.active,
ul.menu-md-v li.active {
    font-weight: bold;
    margin-left: 1rem;
  }
  ul.menu-md-h {
    max-width: 100%;
    display: inline-flex;
    padding: 0 0;
    position: relative;
    border-bottom: 1px solid #ededed;
    overflow-X: auto;
    overflow-Y: hidden;
  }
  ul.menu-md-h li.menu-item,
ul.menu-md-h li {
    margin: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 35.7rem) {
  ul.menu-sm {
    list-style: none;
    list-style-type: none;
  }
  ul.menu-sm-v {
    padding: 0;
    margin: 0;
    line-height: 1rem;
  }
  ul.menu-sm-v li.menu-item,
ul.menu-sm-v li {
    display: block;
    margin: 0 1rem;
    width: auto;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 1rem;
  }
  ul.menu-sm-v li.menu-item:hover,
ul.menu-sm-v li:hover {
    border-radius: 4px;
    background-color: #ededed;
  }
  ul.menu-sm-v li.menu-item.active,
ul.menu-sm-v li.active {
    border-radius: 4px;
    background-color: #ededed;
    font-weight: bold;
  }
  ul.menu-sm-v li {
    list-style: none;
  }
  ul.menu-sm-h {
    padding: 0;
    margin: 0;
    line-height: 1rem;
  }
  ul.menu-sm-h li.menu-item,
ul.menu-sm-h li {
    display: block;
    margin: 0 1rem;
    width: auto;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 1rem;
  }
  ul.menu-sm-h li.menu-item:hover,
ul.menu-sm-h li:hover {
    border-radius: 4px;
    background-color: #ededed;
  }
  ul.menu-sm-h li.menu-item.active,
ul.menu-sm-h li.active {
    border-radius: 4px;
    background-color: #ededed;
    font-weight: bold;
  }
  ul.menu-sm-h li {
    list-style: none;
  }
  ul.menu-sm-v li.menu-item.active,
ul.menu-sm-v li.active {
    font-weight: bold;
    margin-left: 1rem;
  }
  ul.menu-sm-h {
    max-width: 100%;
    display: inline-flex;
    padding: 0 0;
    position: relative;
    border-bottom: 1px solid #ededed;
    overflow-X: auto;
    overflow-Y: hidden;
  }
  ul.menu-sm-h li.menu-item,
ul.menu-sm-h li {
    margin: 0;
    text-align: center;
  }
}