.theme-text-primary {
  color: orange;
}
:root {
  --theme-text-primary-color: orange;
}

.theme-text-primary-light {
  color: #ffc04d;
}
.theme-text-primary-lighter {
  color: #ffdb99;
}
.theme-text-primary-dark {
  color: #cc8400;
}
.theme-text-primary-darker {
  color: #996300;
}
.theme-text-primary-complement {
  color: #005aff;
}
.theme-text-primary-invert {
  color: #005aff;
}

.theme-bg-primary {
  background-color: orange;
}
:root {
  --theme-bg-primary-background-color: orange;
}

.theme-bg-primary-light {
  background-color: #ffc04d;
}
.theme-bg-primary-lighter {
  background-color: #ffdb99;
}
.theme-bg-primary-dark {
  background-color: #cc8400;
}
.theme-bg-primary-darker {
  background-color: #996300;
}
.theme-bg-primary-complement {
  background-color: #005aff;
}
.theme-bg-primary-invert {
  background-color: #005aff;
}

.theme-border-primary {
  border-color: orange;
}
:root {
  --theme-border-primary-border-color: orange;
}

.theme-border-primary-light {
  border-color: #ffc04d;
}
.theme-border-primary-lighter {
  border-color: #ffdb99;
}
.theme-border-primary-dark {
  border-color: #cc8400;
}
.theme-border-primary-darker {
  border-color: #996300;
}
.theme-border-primary-complement {
  border-color: #005aff;
}
.theme-border-primary-invert {
  border-color: #005aff;
}

.theme-text-secondary {
  color: #005aff;
}
:root {
  --theme-text-secondary-color: #005aff;
}

.theme-text-secondary-light {
  color: #4d8cff;
}
.theme-text-secondary-lighter {
  color: #99bdff;
}
.theme-text-secondary-dark {
  color: #0048cc;
}
.theme-text-secondary-darker {
  color: #003699;
}
.theme-text-secondary-complement {
  color: orange;
}
.theme-text-secondary-invert {
  color: orange;
}

.theme-bg-secondary {
  background-color: #005aff;
}
:root {
  --theme-bg-secondary-background-color: #005aff;
}

.theme-bg-secondary-light {
  background-color: #4d8cff;
}
.theme-bg-secondary-lighter {
  background-color: #99bdff;
}
.theme-bg-secondary-dark {
  background-color: #0048cc;
}
.theme-bg-secondary-darker {
  background-color: #003699;
}
.theme-bg-secondary-complement {
  background-color: orange;
}
.theme-bg-secondary-invert {
  background-color: orange;
}

.theme-border-secondary {
  border-color: #005aff;
}
:root {
  --theme-border-secondary-border-color: #005aff;
}

.theme-border-secondary-light {
  border-color: #4d8cff;
}
.theme-border-secondary-lighter {
  border-color: #99bdff;
}
.theme-border-secondary-dark {
  border-color: #0048cc;
}
.theme-border-secondary-darker {
  border-color: #003699;
}
.theme-border-secondary-complement {
  border-color: orange;
}
.theme-border-secondary-invert {
  border-color: orange;
}

.theme-text-tertiary {
  color: orange;
}
:root {
  --theme-text-tertiary-color: orange;
}

.theme-text-tertiary-light {
  color: #ffc04d;
}
.theme-text-tertiary-lighter {
  color: #ffdb99;
}
.theme-text-tertiary-dark {
  color: #cc8400;
}
.theme-text-tertiary-darker {
  color: #996300;
}
.theme-text-tertiary-complement {
  color: #005aff;
}
.theme-text-tertiary-invert {
  color: #005aff;
}

.theme-bg-tertiary {
  background-color: orange;
}
:root {
  --theme-bg-tertiary-background-color: orange;
}

.theme-bg-tertiary-light {
  background-color: #ffc04d;
}
.theme-bg-tertiary-lighter {
  background-color: #ffdb99;
}
.theme-bg-tertiary-dark {
  background-color: #cc8400;
}
.theme-bg-tertiary-darker {
  background-color: #996300;
}
.theme-bg-tertiary-complement {
  background-color: #005aff;
}
.theme-bg-tertiary-invert {
  background-color: #005aff;
}

.theme-border-tertiary {
  border-color: orange;
}
:root {
  --theme-border-tertiary-border-color: orange;
}

.theme-border-tertiary-light {
  border-color: #ffc04d;
}
.theme-border-tertiary-lighter {
  border-color: #ffdb99;
}
.theme-border-tertiary-dark {
  border-color: #cc8400;
}
.theme-border-tertiary-darker {
  border-color: #996300;
}
.theme-border-tertiary-complement {
  border-color: #005aff;
}
.theme-border-tertiary-invert {
  border-color: #005aff;
}